@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  position: fixed;
  overflow-x: visible;
  overflow-y: visible;
  /* max-width: 100vw; */
}

@supports (height: -webkit-fill-available) {
  html {
    /* overflow-y: auto; */
    fontfamily: 'Sora';
  }
}

body {
  fontfamily: 'Sora';
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blurred-container {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred-container {
    /* background-color: 'navigation.base'; */
  }
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes slide-down {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.slide-up {
  animation: slide-up 0.5s ease-in-out;
  top: -100%;
}

.slide-down {
  animation: slide-down 0.1s ease-in-out;
  top: 0;
}
